@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.container-equipe h1{
    margin-top: 30px;
    margin-left: 455px;
    font: normal normal bold 45px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


  .equipe {
    display: flex;
    gap: 55px;
    margin-left: 455px;
    margin-top: 20px;

  }
  
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 30px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
  }

  .container-equipe img{
    width: 260px;
    height: 260px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

  }
  
  .containerQR img{
    display: flex;
    gap: 55px;
    margin-left: 105px;
    margin-top: 450px;

  }

  .containerQR h1{
    margin-left: -220px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 45px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }


  .containerQR h2{
    margin-left: 10px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

  }

@media screen and (max-width:1920px) {
  .container-equipe h1{
    margin-top: 30px;
    margin-left: 115px;
    font: normal normal bold 45px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


  .equipe {
    display: flex;
    gap: 55px;
    margin-left: 115px;
    margin-top: 20px;

  }
  
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 30px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
  }

  .container-equipe img{
    width: 260px;
    height: 260px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

  }
  
  .containerQR img{
    display: flex;
    gap: 55px;
    margin-left: 105px;
    margin-top: 450px;

  }

  .containerQR h1{
    margin-left: -220px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 45px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }


  .containerQR h2{
    margin-left: 10px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

  }
}

@media screen and (max-width:1440px) {
  .container-equipe h1{
    margin-top: 30px;
    margin-left: 125px;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


  .equipe {
    display: flex;
    gap: 55px;
    margin-left: 125px;
    margin-top: 20px;

  }
  
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 20px/46px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
  }

  .container-equipe img{
    width: 200px;
    height: 200px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

  }
  
  .containerQR img{
    display: flex;
    gap: 55px;
    margin-left: -40px;
    margin-top: 450px;

  }

  .containerQR h1{
    margin-left: -390px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 45px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }


  .containerQR h2{
    margin-left: -160px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

  }
  
}

@media screen and (max-width:1280px) {
  .container-equipe h1{
    margin-top: 30px;
    margin-left: 40px;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


  .equipe {
    display: flex;
    gap: 55px;
    margin-left: 40px;
    margin-top: 20px;

  }
  
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 20px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
  }

  .container-equipe img{
    width: 200px;
    height: 200px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

  }
  
  .containerQR img{
    display: flex;
    gap: 55px;
    margin-left: -30px;
    margin-top: 450px;

  }

  .containerQR h1{
    margin-left: -380px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 45px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }


  .containerQR h2{
    margin-left: -150px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

  }
  
}

@media screen and (max-width:1024px) {
  .container-equipe h1{
    margin-top: 20px;
    margin-left: 85px;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


  .equipe {
    display: flex;
    gap: 55px;
    margin-left: 85px;
    margin-top: 1px;

  }
  
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 18px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
  }

  .container-equipe img{
    width: 150px;
    height: 150px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

  }
  
  .containerQR img{
    display: flex;
    gap: 55px;
    margin-left: -120px;
    margin-top: 450px;

  }

  .containerQR h1{
    margin-left: -515px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 45px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }


  .containerQR h2{
    margin-left: -280px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

  }
  
}

@media screen and (max-width:912px) {
  .container-equipe h1{
    margin-top: 20px;
    margin-left: 40px;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


  .equipe {
    display: flex;
    gap: 55px;
    margin-left: 40px;
    margin-top: 1px;

  }
  
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 18px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
  }

  .container-equipe img{
    width: 150px;
    height: 150px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

  }
  
  .containerQR img{
    display: flex;
    gap: 55px;
    margin-left: -140px;
    margin-top: 450px;

  }

  .containerQR h1{
    margin-left: -535px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 45px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }


  .containerQR h2{
    margin-left: -300px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

  }
  
}

@media screen and (max-width:853px) {
  .container-equipe h1{
    margin-top: 20px;
    margin-left: 45px;
    font: normal normal bold 30px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


  .equipe {
    display: flex;
    gap: 55px;
    margin-left: 45px;
    margin-top: 1px;

  }
  
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 18px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
  }

  .container-equipe img{
    width: 120px;
    height: 120px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

  }
  
  .containerQR img{
    display: flex;
    margin-left: -80px;
    margin-top: 450px;

  }

  .containerQR h1{
    margin-left: -450px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }


  .containerQR h2{
    margin-left: -240px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 35px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

  }
  
}

@media screen and (max-width:820px) {
  .container-equipe h1{
    margin-top: 20px;
    margin-left: 30px;
    font: normal normal bold 30px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

  .equipe {
    display: flex;
    gap: 55px;
    margin-left: 30px;
    margin-top: 1px;

}
  
.membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 18px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
}

.container-equipe img{
    width: 120px;
    height: 120px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}
  
.containerQR img{
    display: flex;
    margin-left: -80px;
    margin-top: 450px;

}

.containerQR h1{
    margin-left: -450px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 40px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.containerQR h2{
    margin-left: -240px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 35px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}
  
}

@media screen and (max-width:768px) {
.container-equipe h1{
    margin-top: 20px;
    margin-left: 40px;
    font: normal normal bold 30px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.equipe {
    display: flex;
    gap: 55px;
    margin-left: 40px;
    margin-top: -5px;

}
  
.membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 15px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
 
}

.container-equipe img{
    width: 120px;
    height: 120px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;

}
  
.containerQR img{
    display: flex;
    margin-left: -130px;
    margin-top: 450px;

}

.containerQR h1{
    margin-left: -375px;
    margin-top: -10px;
    text-align: left;
    font: normal normal bold 30px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}


.containerQR h2{
    margin-left: -210px;
    margin-top: -30px;
    margin-bottom: 80px;
    text-align: left;
    font: normal normal bold 25px/46px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}
  
}

@media screen and (max-width: 540px) {
  .container-equipe h1 {
    margin-top: 20px;
    margin-left: 45px;
    font: normal normal bold 30px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .equipe {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
    margin-top: -5px;
  }

 
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 15px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .container-equipe img {
    width: 150px;
    height: 150px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  
  .containerQR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-left: 260px;
  }

  .containerQR img {
    width: 120px;
    height: 120px;
    background: transparent url('img/sua-imagem.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin: 10px; 
  }

  
  .containerQR h1 {
    text-align: left;
    font: normal normal bold 30px/1px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px;
    margin-left: -230px;
    
  }

  
  .containerQR h2 {
    text-align: left;
    font: normal normal bold 25px/20px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px; 
    margin-left: -60px;
  }
}

@media screen and (max-width: 430px) {
  .container-equipe h1 {
    margin-top: 20px;
    margin-left: 35px;
    font: normal normal bold 30px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .equipe {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    margin-top: 1px;
  }

 
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 15px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .container-equipe img {
    width: 150px;
    height: 150px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  
  .containerQR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-left: 200px;
  }

  .containerQR img {
    width: 120px;
    height: 120px;
    background: transparent url('img/sua-imagem.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin: 10px; 
  }

  
  .containerQR h1 {
    text-align: left;
    font: normal normal bold 25px/1px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px;
    margin-left: -170px;
    
  }

  
  .containerQR h2 {
    text-align: left;
    font: normal normal bold 20px/20px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px; 
    margin-left: -25px;
  }
}

@media screen and (max-width: 390px) {
  .container-equipe h1 {
    margin-top: 10px;
    margin-left: 20px;
    font: normal normal bold 25px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .equipe {
    display: flex;
    flex-wrap: wrap;
    margin-left:20px;
    margin-top: 1px;
  }

 
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 15px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .container-equipe img {
    width: 130px;
    height: 130px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  
  .containerQR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-left: 200px;
  }

  .containerQR img {
    width: 120px;
    height: 120px;
    background: transparent url('img/sua-imagem.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin: 10px; 
  }

  
  .containerQR h1 {
    text-align: left;
    font: normal normal bold 25px/1px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px;
    margin-left: -170px;
    
  }

  
  .containerQR h2 {
    text-align: left;
    font: normal normal bold 20px/20px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px; 
    margin-left: -25px;
  }
}

@media screen and (max-width: 360px) {
  .container-equipe h1 {
    margin-top: 10px;
    margin-left: 10px;
    font: normal normal bold 25px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .equipe {
    display: flex;
    flex-wrap: wrap;
    margin-left:10px;
    margin-top: 1px;
  }

 
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 15px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .container-equipe img {
    width: 130px;
    height: 130px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  
  .containerQR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
    margin-left: 200px;
  }

  .containerQR img {
    width: 120px;
    height: 120px;
    background: transparent url('img/sua-imagem.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin: 10px; 
  }

  
  .containerQR h1 {
    text-align: left;
    font: normal normal bold 25px/1px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px;
    margin-left: -170px;
    
  }

  
  .containerQR h2 {
    text-align: left;
    font: normal normal bold 20px/20px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px; 
    margin-left: -25px;
  }
}

@media screen and (max-width: 320px) {
  .container-equipe h1 {
    margin-top: 10px;
    margin-left: 10px;
    font: normal normal bold 25px/66px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .equipe {
    display: flex;
    flex-wrap: wrap;
    margin-left:10px;
    margin-top: 1px;
  }

 
  .membro-equipe {
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal normal 12px/36px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .container-equipe img {
    width: 100px;
    height: 100px;
    background: transparent url('img/Retângulo 73.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
  }

  
  .containerQR {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
    margin-left: 140px;
  }

  .containerQR img {
    width: 100px;
    height: 100px;
    background: transparent url('img/sua-imagem.png') 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    margin: 10px; 
  }

  
  .containerQR h1 {
    text-align: left;
    font: normal normal bold 20px/10px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px;
    margin-left: -130px;
    
  }

  
  .containerQR h2 {
    text-align: left;
    font: normal normal bold 20px/10px Space Mono;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 10px; 
    margin-left: -40px;
  }
}







