.input-container {
  position: absolute;
  left: 50%; 
  transform: translateX(-50%); 
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 40px;
  
}

.input-search {
  width: 1364px;
  height: 70px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  font: normal normal normal 30px/45px Space Mono;
  border: 2px solid #707070;
  padding-left: 80px;
  border-radius: 35px;
  opacity: 1;

}

.input-search::placeholder{
  text-align: left;
  font: normal normal normal 30px/45px Space Mono;
  letter-spacing: 0px;
  color: #CCCCCC;
  opacity: 1;

 }

.input-container img {
  position: relative;
  height: 50px;
  width: 50px;
  right: calc(100% - 70px); 
  top: 60%; 
  transform: translateY(5%);    
}



@media screen and (max-width: 1440px) {
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 50px;
      margin-left: 20px;
      
    }
  
    .input-search {
      width: 900px;
      height: 70px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 30px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 80px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 30px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 50px;
      width: 50px;
      right: calc(100% - 70px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

@media screen and (max-width: 1024px){
  .input-container {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 10px;
    
  }

  .input-search {
    width: 520px;
    height: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font: normal normal normal 30px/45px Space Mono;
    border: 2px solid #707070;
    padding-left: 60px;
    border-radius: 35px;
    opacity: 1;
  
  }

  .input-search::placeholder{
    text-align: left;
    font: normal normal normal 25px/45px Space Mono;
    letter-spacing: 0px;
    color: #CCCCCC;
    opacity: 1;

   }

  .input-container img {
    position: relative;
    height: 30px;
    width: 30px;
    right: calc(100% - 50px); 
    top: 60%; 
    transform: translateY(5%);    
  }
  
  }

@media screen and (max-width: 768px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 45px;
      margin-left: 15px;
      
    }
  
    .input-search {
      width: 490px;
      height: 45px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 25px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 55px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 25px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 30px;
      width: 30px;
      right: calc(100% - 45px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

@media screen and (max-width: 540px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 25px;
      margin-left: 10px;
      
    }
  
    .input-search {
      width: 300px;
      height: 35px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 20px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 40px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 20px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 20px;
      width: 20px;
      right: calc(100% - 35px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

@media screen and (max-width: 430px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 10px;
      
    }
  
    .input-search {
      width: 300px;
      height: 35px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 20px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 40px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 20px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 20px;
      width: 20px;
      right: calc(100% - 35px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

@media screen and (max-width: 414px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 22px;
      margin-left: 10px;
      
    }
  
    .input-search {
      width: 300px;
      height: 35px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 20px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 40px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 20px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 20px;
      width: 20px;
      right: calc(100% - 35px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

@media screen and (max-width: 390px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-left: 10px;
      
    }
  
    .input-search {
      width: 240px;
      height: 35px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 15px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 40px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 15px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 20px;
      width: 20px;
      right: calc(100% - 35px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

@media screen and (max-width: 375px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 15px;
      margin-left: 10px;
      
    }
  
    .input-search {
      width: 220px;
      height: 35px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 15px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 40px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 15px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 20px;
      width: 20px;
      right: calc(100% - 35px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

@media screen and (max-width: 360px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 18px;
      margin-left: 10px;
      
    }
  
    .input-search {
      width: 230px;
      height: 35px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 15px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 40px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 15px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 20px;
      width: 20px;
      right: calc(100% - 35px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

  @media screen and (max-width: 360px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 18px;
      margin-left: 10px;
      
    }
  
    .input-search {
      width: 200px;
      height: 35px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 15px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 40px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 15px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 20px;
      width: 20px;
      right: calc(100% - 35px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }

@media screen and (max-width: 280px){
    .input-container {
      position: absolute;
      left: 50%; 
      transform: translateX(-50%); 
      display: flex;
      align-items: center;
      margin-top: 18px;
      margin-left: 10px;
      
    }
  
    .input-search {
      width: 180px;
      height: 35px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      font: normal normal normal 15px/45px Space Mono;
      border: 2px solid #707070;
      padding-left: 40px;
      border-radius: 35px;
      opacity: 1;
    
    }
  
    .input-search::placeholder{
      text-align: left;
      font: normal normal normal 15px/45px Space Mono;
      letter-spacing: 0px;
      color: #CCCCCC;
      opacity: 1;
  
     }
  
    .input-container img {
      position: relative;
      height: 20px;
      width: 20px;
      right: calc(100% - 35px); 
      top: 60%; 
      transform: translateY(5%);    
    }
    
  }